# Binaries
**/bin/
bin-int/
Intermediates/

*.log
*.ini
imgui.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Hominem/vendor/VulkanSDK
